@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400;500;600;700;800;900&family=VT323&display=swap');

@keyframes wordPopup {
  0% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(-100px);
  }
  30% {
    transform: translateY(-100px);
  }
  45% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #111111;
  color: #c9c4bf;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  
  .header {
    position: relative;
    z-index: 1;
    display: flex;

    transform: translateY(100px);
    // margin-bottom: -13px;
    p {
      font-family: 'VT323', monospace;
      font-size: 55px;

      span {
        display: inline-block;
      }

      .rock {
        animation: wordPopup 14s ease infinite forwards;
      }
      .paper {
        margin: 0 15px;
        animation: wordPopup 14s ease infinite  forwards;
        animation-delay: 1s;
      }

      .scissors {
        animation: wordPopup 14s ease infinite  forwards;
        animation-delay: 2s;
      }
      
    }
  }
  .game-container {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    align-items: center;
    width: 600px;
    height: 460px;
    background: linear-gradient(180deg, rgba(37,37,36,1) 6%, rgba(37,37,36,1) 69%, rgba(17,17,17,1) 99%);
    // background: rgb(17,17,17);
    // background: linear-gradient(90deg, rgba(17,17,17,1) 2%, rgba(37,37,36,1) 25%, rgba(37,37,36,1) 75%, rgba(17,17,17,1) 98%);
    // border-radius: 20px;
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.21);

    .score-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      // position: relative;

      h3 {
        text-align: center;
        width: 55px;
        height: 35px;
        background-color: #f5cb41;
        border-radius: 5px;
        color: #252524;
        line-height: 35px;

        &:nth-child(1) {
          transform: translateX(20px);
        }

        &:nth-child(3) {
          transform: translateX(-20px);
        }
      }

      .score-box {
        // position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #111111;
        width: 300px;
        height: 80px;
        border-radius: 10px;
        font-size: 55px;
        font-family: 'VT323', monospace;
      }
    }

    .selection-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;

      h2 {
        margin-bottom: 20px;
        letter-spacing: 3px;
        font-weight: 500;
      }
      .buttons-container {
        width: 400px;
        display: flex;
        justify-content: space-between;
        button {
          height: 99px;
          width: 99px;
          cursor: pointer;
          background-color: #1b1b1b;
          border-radius: 100%;
          border: none;
          transition: 300ms;
          // border: 3px solid #111111;
          font-size: 50px;

          &:hover {
            border: 2px solid #f5cb41;
            box-shadow: 0px 0px 6px 4px #fdda6869;
          }

        }
      }
    }

    .info-container {
      display: flex;
      .selection {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
        text-align: center; 
        
        p {
          font-size: 14px;
          letter-spacing: 2px;
          margin-bottom: 7px;
        }
        
        .selection-display {
          height: 40px;
          background-color: #111111;
          border-radius: 5px;
          line-height: 40px;
          font-family: 'VT323', monospace;
          font-size: 30px;
          color: #f5cb41;
          text-transform: uppercase;
        }
      }
    }
  }
}


